@use '../../root' as *;
@use '../../utilities' as *;

.blog3 {
    &-card {
        border-radius: 10px;
        background: $white;
        box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 40px;
        &__thumb {
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            padding: 0 40px 40px;
            @include breakpoint (max-sm) {
                padding: 0 5px 25px;
            }
            &-meta {
                display: flex;
                align-items: center;
                gap: 18px;
                padding-top: 30px;
                padding-bottom: 11px;
                color: $gray2;
                font-family: $body-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; 
                @include breakpoint (max-xs) {
                    flex-wrap: wrap;
                    row-gap: 10px;
                }
                &__user {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__calendar {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__comment {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                i {
                    color: $theme-color;
                }
                img {
                    padding-right: 6px;
                }
            }
            &__title{
                padding-bottom: 15px;
                h2 {
                    color: $title-color4;
                    font-family: $paragraph-font2;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px; /* 133.333% */
                    @include breakpoint (max-sm){
                        font-size: 28px;
                    }
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            &__desc {
                padding-right: 5px;    
                p {
                    color: $gray2;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 162.5% */
                }            
            }
        }
    }
}
